# Xcode
.DS_Store
*.swp
*.lock
*~
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcuserdata/

# Build Folders
build/
DerivedData/
dmg_staging/
dmg_temp/
installer_assets/

# Large binaries & Installers
*.dmg
*.app
*.zip
*.pkg

# Heavy Media
*.mov
*.mp4
Screenshots/walkthrough.mov

# Temp
pack.temp.dmg
build_error.log
