# .gitignore for Sangeet

# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.usercontent
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods
Pods/
*.xcworkspace

# Others
*.log
Sangeet_Project_Temp/
TempProject/
